# Mengabaikan folder tertentu
.gradle/
build/
app/build/
app/.cxx/
.vscode/
bin/

# File sensitif (Sangat penting agar tidak bocor!)
.env
# Mengabaikan semua file dengan ekstensi tertentu
*.log
*.exe

